.box{
    height:100px;
    width:100px;
    background-color: orange;
    text-align: center;
}
/*
below is known as the pseudo selectors
on hover or active or release we can add some of the styling to that element
*/
.box:hover{
    height: 200px;
    width: 200px;
}
.box:active{
    height:300px;
    width: 300px;
}